{% extends 'base.html' %}
{% block titulo %}Editar Compromiso {{ compromiso_id }}{% endblock %}
{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h4 class="card-title my-0">Modificar Datos del Compromiso</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <a href="{% url 'tubo_tablero' %}" class="btn btn-outline-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
